<h1 class="titre-page">Modifier un canal</h1>

<form [formGroup]="formulaireModification" (ngSubmit)="modifier()" class="formulaire-canal">
  <div class="champ-formulaire">
    <label for="canal-modification-nom">Nom</label>
    <input id="canal-modification-nom" type="text" formControlName="nom" required />
  </div>

  <div class="champ-formulaire">
    <label for="visibilite">Visibilité</label>
    <select id="visibilite" formControlName="visibilite">
      <option value="public">Public</option>
      <option value="prive">Privé</option>
    </select>
  </div>

  <button type="submit" class="btn-soumettre">Modifier</button>
  <label #erreur class="erreur-formulaire"></label>
</form>
